* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none !important;
}

:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

@font-face {
  font-family: "Century Gothic";
  src: url("./fonts/gothicb.ttf");
}

@font-face {
  font-family: "Avenir Roman";
  src: url("./fonts/AvenirLTStd-Roman.otf");
}

/* globals */
body {
  padding-top: 66px;
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: Avenir Roman, sans-serif;
  line-height: 1.4;
}
h1 {
  font-family: Century Gothic, sans-serif;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-family: Century Gothic, sans-serif;
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-family: Century Gothic, sans-serif;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-family: Century Gothic, sans-serif;
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-family: Century Gothic, sans-serif;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-family: Century Gothic, sans-serif;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.btn-primary-main {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1em;
}
.btn-primary-main:hover {
  background: black;
  color: var(--primaryColor);
}
.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}
/* end of globals */
/* Navbar */
.navbar {
  position: fixed;
  top: 0 !important;
  left: 0 !important;
  padding-top: 0rem !important;
  padding-left: 0px !important;
  width: 100%;
  height: 80px;
  background: var(--offWhite);
  z-index: 10;
  background-color: rgb(34, 34, 34);
}
.nav-header {
  display: flex;
  justify-content: space-between;
  padding-right: 2rem;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--primaryColor);
}

.nav-logo-container {
  height: 80px;
  width: 180px;
  background-color: var(--primaryColor);
  text-align: center;
}

.nav-logo {
  margin-top: 10px;
  position: relative;
  height: 60px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.nav-links {
  width: 100vw;
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
  color: white;
}
.nav-links a:hover {
  color: var(--primaryColor);
}

.show-nav {
  height: 280px;
  background-color: rgb(34, 34, 34);
  width: 100vw;
}

@media screen and (min-width: 1200px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
    margin-top: 1.5rem;
  }
  .nav-links a {
    margin: 0 1.5rem;
    padding: 0.5rem 0;
  }
}
/* end of navbar */
/* Hero */
.defaultHero,
.earlHero {
  min-height: calc(100vh - 66px);
  background: url("./images/defaultBcg.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.earlHero {
  background-image: url("./images/room-2.jpeg");
  min-height: 60vh;
}
/* End of Hero */
/* Banner */
.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.banner h1 {
  font-size: 2.5rem;
}
.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}
/* End of Banner */
/* Title */
.section-title {
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
}
/* end of Title */

/* services */
.services {
  padding: 5rem 0;
}
.services {
  background: var(--darkGrey);
  text-align: center;
}
.services-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.service span {
  display: inline-block;
  color: var(--primaryColor);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.services h6 {
  letter-spacing: var(--mainSpacing);
}
.services p {
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .services-center {
    width: 95vw;
    max-width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .services p {
    width: 100%;
  }
}
/*end of services */
/* featured rooms */

.featured-rooms {
  padding: 5rem 0;
}
.featured-rooms-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
@media screen and (min-width: 776px) {
  .featured-rooms-center {
    width: 90vw;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}
@media screen and (min-width: 992px) {
  .featured-rooms-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end pf featured rooms */
/* room */
.room {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
}
.room:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
}
.price-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: var(--mainWhite);
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  text-align: center;
  transition: var(--mainTransition);
}
.price-top h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: var(--mainSpacing);
}
.room-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}
.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}
.img-container:hover img {
  opacity: 0.3;
}
.img-container:hover .price-top {
  opacity: 0;
}
.img-container:hover .room-link {
  transform: translate(-50%, -50%) scale(1);
}
.room-info {
  background: var(--darkGrey);
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
}
/* end of room  */

/* start of homeHeader css*/

.home-header {
  margin-top: 100px;
  margin-bottom: 100px;
}

.home-header p {
  text-align: left;
  color: var(--mainBlack);
  white-space: pre-line;
  vertical-align: bottom;
}

@media screen and (max-width: 800px) {
  .home-header {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

/* end of homeHeader css*/

/* start of visit us css*/

.visit-us-container {
  height: 30vh;
  width: 100%;
  text-align: center;
  background-color: rgb(34, 34, 34);
}

.visit-us-inner-content {
  margin: 0;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.visit-us-container h1,
h2,
p {
  color: var(--mainWhite);
  margin-bottom: 3vh;
}

.visit-us-container h1 {
  font-size: 3vh;
}

.visit-us-container h2 {
  font-size: 2vh;
}

.visit-us-container button {
  height: 5vh;
  font-size: 1.3vh;
}

@media screen and (min-width: 1200px) {
  .visit-us-container {
    height: 400px;
    width: 100%;
    text-align: center;
    background-color: rgb(34, 34, 34);
  }

  .visit-us-inner-content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .visit-us-container h1,
  h2 {
    color: var(--mainWhite);
    margin-bottom: 50px;
  }

  .visit-us-container button {
    height: 50px;
  }
}

/* end of visit us css*/

/* start of footer css*/

.footer {
  background-color: var(--primaryColor);
  width: 100%;
  height: 100px;
  text-align: center;
}

.footer h1 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
  color: white;
}

/* end of footer css*/

/* start of utils css*/

.vertical-line {
  width: 20%;
  margin-bottom: 5%;
  border: 3px solid var(--primaryColor);
}

/* start of reservation form css*/

.reservation-form {
  background-color: rgb(34, 34, 34);
  color: var(--primaryColor);
  text-align: center;
  width: 100%;
  height: 650px;
  margin-left: 10px;
  font-size: 1rem;
  font-weight: 600;
}

.reservation-form h2 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgb(49, 49, 49);
  color: var(--primaryColor);
}

.reservation-form-row {
  padding-bottom: 20px;
}

.reservation-form input {
  width: 90%;
  background-color: #af9a7d;
  padding-top: 5px;
}

.reservation-form select {
  padding-top: 5px;
  width: 95%;
  background-color: #af9a7d;
}

.reservation-form-input {
  width: 100%;
}

reservation-form-row-select {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
/* end of reservation form css*/

.home-shisha-section {
  background: url("https://lh3.googleusercontent.com/pw/ACtC-3eI-n0dQ4QwzLOWPSa9yez809eE9ffMffHDzFsx8IzlQcjyKBYeSUcrrZeSo2zcb3yHGQfMdW_3DUc8uPv60IWeMN4WbrTWdCB0qxNKeWQLu9ayxFY1Njq9UxNDFu2M9ixV979mFn5UsWFh57bMN2Pr=w2048-h1366-no?authuser=0")
    center/cover no-repeat;
  width: 100%;
  height: 45vh;
}

.home-shisha-section-col {
  text-align: center;
  background-color: rgba(34, 34, 34, 0.6);
  margin-top: 15vh;
  color: var(--mainWhite);
}

.home-shisha-section-col h1 {
  padding-top: 3vh;
  font-size: 2.5vh;
}
.home-shisha-section-col p {
  font-size: 1.3vh;
}

.vertical-line-banner {
  width: 20%;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 40%;
  border: 3px solid var(--primaryColor);
}

.home-prices-section {
  width: 100%;
  height: 60vh;
}

.home-prices-section-col {
  text-align: center;
  margin-top: 5vh;
}

.home-prices-section-col h1 {
  padding-top: 3vh;
  font-size: 2.5vh;
}
.home-prices-section-col p {
  font-size: 1.3vh;
  color: var(--mainBlack);
}

.home-prices-section-col-drinks {
  text-align: center;
  background-color: var(--primaryColor);
  margin-left: 1vw;
  margin-right: 1vw;
  height: 20vh;
}

.home-prices-section-col-drinks h1 {
  font-size: 2vh;
  padding-bottom: 1vh;
}

.home-prices-section-col-drinks h3 {
  padding-top: 5vh;
  font-size: 1.8vh;
}

.home-prices-section-col-drinks h6 {
  color: var(--darkGrey);
  font-size: 1.5vh;
}

@media screen and (min-width: 1200px) {
  .home-prices-section-col-drinks {
    height: 23vh;
  }

  .home-prices-section-col-drinks h1 {
    font-size: 3vh;
  }

  .home-prices-section-col-drinks h3 {
    font-size: 2vh;
  }

  .home-prices-section-col-drinks h6 {
    font-size: 1.5vh;
  }
}

.home-menu-section {
  background: url("https://lh3.googleusercontent.com/pw/ACtC-3dq8t-wFHmrBo2a9yCU4sHVLk_aSeRkb81us3RJnit9mRSDWbzLmnfwirZndu9sKHMggiyIWMMJXyyH-E-2W4pfy9B4mrkfg5YaD2zdP7cnQA9-ahYIYbI7cKtcdl3fxcKpuqCEkh54WYdGKx5lFd8W=w2048-h1160-no?authuser=0")
    center/cover no-repeat;
  width: 100%;
  height: 1200px;
}

@media screen and (min-width: 1200px) {
  .home-menu-section {
    height: 60vh;
  }
}

.home-menu-section-col {
  text-align: center;
  background-color: rgba(34, 34, 34, 0.6);
  margin-top: 5vh;
  color: var(--mainWhite);
}

.home-menu-section-col h1 {
  padding-top: 3vh;
  font-size: 2.5vh;
}
.home-menu-section-col p {
  font-size: 1.3vh;
}

.menu-list {
  list-style-type: none;
  text-align: left;
}

.menu-list-item {
  padding-bottom: 1vh;
}

.menu-list-item:hover {
  color: var(--primaryColor);
}
