* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none !important;
}

:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

@font-face {
  font-family: "Century Gothic";
  src: url("./fonts/gothicb.ttf");
}

@font-face {
  font-family: "Avenir Roman";
  src: url("./fonts/AvenirLTStd-Roman.otf");
}

/* globals */
body {
  padding-top: 66px;
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: Avenir Roman, sans-serif;
  line-height: 1.4;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h1 {
  font-family: Century Gothic, sans-serif;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-family: Century Gothic, sans-serif;
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-family: Century Gothic, sans-serif;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-family: Century Gothic, sans-serif;
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-family: Century Gothic, sans-serif;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-family: Century Gothic, sans-serif;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.btn-primary-main {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1em;
}
.btn-primary-main:hover {
  background: black;
  color: var(--primaryColor);
}
.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}
/* end of globals */

/* Navbar */
.navbar {
  position: fixed;
  top: 0 !important;
  left: 0 !important;
  padding-top: 0rem !important;
  padding-left: 0px !important;
  width: 100%;
  height: 80px;
  background: var(--offWhite);
  z-index: 10;
  background-color: rgb(34, 34, 34);
}
.nav-header {
  display: flex;
  justify-content: space-between;
  padding-right: 2rem;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--primaryColor);
}

.nav-icon-social-media {
  font-size: 1.5rem;
}

.nav-logo-container {
  height: 80px;
  width: 180px;
  background-color: var(--primaryColor);
  text-align: center;
}

.nav-logo {
  margin-top: 10px;
  position: relative;
  height: 60px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.nav-links {
  width: 100vw;
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
  color: white;
}
.nav-links a:hover {
  color: var(--primaryColor);
}

.nav-links-li-active {
  color: var(--primaryColor) !important;
}

.show-nav {
  height: 280px;
  background-color: rgb(34, 34, 34);
  width: 100vw;
}

@media screen and (min-width: 1200px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
    margin-top: 1.5rem;
  }
  .nav-links a {
    margin: 0 1.5rem;
    padding: 0.5rem 0;
  }
}
/* end of navbar */

/* Banner */
.banner {
  display: inline-block;
  color: var(--mainWhite);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  width: 100%;
  margin-top: 60px;
  margin-bottom: 30px;
}
.banner h1 {
  font-size: 2.5rem;
  color: var(--mainBlack);
}
.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: var(--mainBlack);
}
/* End of Banner */
/* Title */
.section-title {
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
}
/* end of Title */

/* start of homeHeader css*/

.home-header {
  margin-top: 100px;
  margin-bottom: 100px;
}

.home-header p {
  text-align: left;
  color: var(--mainBlack);
  white-space: pre-line;
  vertical-align: bottom;
}

@media screen and (max-width: 800px) {
  .home-header {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

/* end of homeHeader css*/

/* start of visit us css*/

.visit-us-container {
  height: 30vh;
  width: 100%;
  text-align: center;
  background-color: rgb(34, 34, 34);
}

.visit-us-inner-content {
  margin: 0;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.visit-us-container h1,
h2,
p {
  color: var(--mainWhite);
  margin-bottom: 3vh;
}

.visit-us-container h1 {
  font-size: 3vh;
}

.visit-us-container h2 {
  font-size: 2vh;
}

.visit-us-container button {
  height: 5vh;
  font-size: 1.3vh;
}

@media screen and (min-width: 1200px) {
  .visit-us-container {
    height: 400px;
    width: 100%;
    text-align: center;
    background-color: rgb(34, 34, 34);
  }

  .visit-us-inner-content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .visit-us-container h1,
  h2 {
    color: var(--mainWhite);
    margin-bottom: 50px;
  }

  .visit-us-container button {
    height: 50px;
  }
}

/* end of visit us css*/

/* start of footer css*/

.footer {
  background-color: var(--primaryColor);
  text-align: center;
}

.footer h1 {
  text-decoration: none;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
  color: white;
}

.footer h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.footer-row {
  padding-top: 20px;
}

.footer-inner-row {
  padding-top: 10px;
}

/* end of footer css*/

/* start of utils css*/

.vertical-line {
  width: 20%;
  margin-bottom: 5%;
  border: 3px solid var(--primaryColor);
}

.home-shisha-section {
  background: url("https://lh3.googleusercontent.com/pw/ACtC-3eI-n0dQ4QwzLOWPSa9yez809eE9ffMffHDzFsx8IzlQcjyKBYeSUcrrZeSo2zcb3yHGQfMdW_3DUc8uPv60IWeMN4WbrTWdCB0qxNKeWQLu9ayxFY1Njq9UxNDFu2M9ixV979mFn5UsWFh57bMN2Pr=w2048-h1366-no?authuser=0")
    center/cover no-repeat;
  width: 100%;
}

.home-shisha-section-col {
  text-align: center;
  background-color: rgba(34, 34, 34, 0.6);
  height: 100%;
  margin-top: 15vh;
  margin-bottom: 15vh;
  color: var(--mainWhite);
}

.home-shisha-section-col h1 {
  padding-top: 3vh;
  font-size: 2rem;
}
.home-shisha-section-col p {
  font-size: 1.5rem;
  white-space: pre-line;
  vertical-align: bottom;
}

.vertical-line-banner {
  width: 20%;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 40%;
  border: 3px solid var(--primaryColor);
}

.home-prices-section {
  width: 100%;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.home-prices-section-col {
  text-align: center;
}

.home-prices-section-col h1 {
  font-size: 2rem;
}
.home-prices-section-col p {
  font-size: 1.5rem;
  color: var(--mainBlack);
  white-space: pre-line;
  vertical-align: bottom;
}

.home-prices-section-col-drinks {
  text-align: center;
  background-color: var(--primaryColor);
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.home-prices-section-col-drinks h1 {
  font-size: 1.5rem;
  padding-bottom: 1.2vh;
}

.home-prices-section-col-drinks h3 {
  padding-top: 5vh;
  font-size: 2rem;
}

.home-prices-section-col-drinks h6 {
  color: var(--darkGrey);
  font-size: 1rem;
}

.shisha-section {
  background: url("https://lh3.googleusercontent.com/pw/ACtC-3fCVHrl7dsVme1KaBRo0Df0IJUHbzVpUTNUTGbyDjQdgGh_vfPBYHuFOn7h1qVLXTPFZKYo8_H5wZhICp2VJLorqsz7Z3WOQjp5S6aoFmjt3cEsuOIlJjwUr-Gd-qBMT4-JinqLQVbIlaKZsIZz-2MX=w1280-h1175-no?authuser=0")
    center/cover no-repeat;
  width: 100%;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.shisha-section-col {
  text-align: center;
  background-color: rgba(34, 34, 34, 0.6);
  color: var(--mainWhite);
}

.shisha-section-col h1 {
  padding-top: 3vh;
  font-size: 2rem;
}

.shisha-list {
  list-style-type: none;
  text-align: center;
}

.shisha-list-item {
  padding-bottom: 1rem;
}

.shisha-list-item:hover {
  color: var(--primaryColor);
}

.home-gallery-section {
  width: 100%;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.home-group-hangout-section {
  background: url("https://lh3.googleusercontent.com/pw/ACtC-3fU3yTX6e85I3jbkDJkaOa7ryPyLcnViTFZUav5PtYYcNRQc5cohQOYjLjw1HCmskzptJGTHYz9YEOfgHdO5NdNw-fQbNKRtaU4kg07MHzypIIDLP88Ia4IdHTIjC9PrTuQrd8KmXEqA8Qo7TPR1f4k=w2560-h1209-no?authuser=0")
    center/cover no-repeat;
  width: 100%;
}

.home-group-hangout-section-col {
  text-align: center;
  background-color: rgba(34, 34, 34, 0.6);
  height: 100%;
  margin-top: 15vh;
  margin-bottom: 15vh;
  color: var(--mainWhite);
}

.home-group-hangout-section-col h1 {
  padding-top: 3vh;
  font-size: 2rem;
}
.home-group-hangout-section-col p {
  font-size: 1.5rem;
  white-space: pre-line;
  vertical-align: bottom;
}

/** contact us begin css*/

.contact-us-container {
}

/** contact us end css*/

/** image gallery begin css */

.image-gallery-item-l {
  height: 530px;
  border-radius: 15px;
  margin-bottom: 30px;
}

.image-gallery-item-m {
  height: 250px;
  border-radius: 15px;
  margin-bottom: 30px;
}

.image-gallery-item-s {
  height: 250px;
  border-radius: 15px;
  margin-bottom: 30px;
}

.image-gallery-carousel {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  visibility: hidden;
  display: none;
}

.image-gallery-carousel-visibile {
  position: fixed;
  z-index: 90;
  width: 90%;
  height: 80%;
  top: calc(10%);
  bottom: calc(10%);
  align-content: center;
}

.carousel-inner {
  height: 100%;
  width: 100%;
}

.image-gallery-carousel-item {
  width: 100%;
  height: 100%;
}

.image-gallery-carousel-img {
  width: 100%;
  height: 100%;
}

.button-close {
  visibility: hidden;
  display: none;
}

.button-close-visible {
  color: var(--mainWhite);
  font-size: 3rem;
  position: fixed;
  z-index: 91;
  top: calc(20%);
  right: calc(5%);
}

.button-close-visible:hover {
  color: var(--mainBlack);
}
/** image gallery end css */
